name: Build and deploy
on:
  push:
    branches-ignore:
      - 'dependabot/**'
      - 'renovate/**'
    paths-ignore:
      - 'README.md'
      - 'CHANGELOG.md'
      - 'LICENSE'
      - '.github/workflows/update-hugo.yml'
  pull_request:
  workflow_dispatch:

jobs:
  build-website:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: danysk/action-checkout@0.2.28
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3.0.0
        with:
          hugo-version: '0.157.0'
          extended: true
      - uses: actions/setup-node@v6
        with:
          node-version: 18.4.0
          cache: 'npm'
      - name: Setup the context
        run: npm install
      - name: Build with hugo
        run: hugo
      - name: Link Check
        if: ${{ github.event_name != 'pull_request' }}
        id: lychee
        uses: lycheeverse/lychee-action@v2.8.0
        with:
          args: >-
            --accept '200, 302'
            public
          fail: true
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      - name: Deploy website
        if: ${{ github.event_name != 'pull_request' }}
        uses: JamesIves/github-pages-deploy-action@v4.8.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: gh-pages
          folder: public

